@import "tailwindcss";

@layer base {
    body {
        @apply bg-gray-50 text-gray-900 transition-colors duration-200;
    }

    html.dark body {
        @apply bg-slate-900 text-slate-100;
    }
}